<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPTKe5sXD3K4xpyu8qfspcf9yuQdky8dI</string>
	<key>GCM_SENDER_ID</key>
	<string>924653423828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luzidcraft.razGold</string>
	<key>PROJECT_ID</key>
	<string>ras-gold</string>
	<key>STORAGE_BUCKET</key>
	<string>ras-gold.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924653423828:ios:d6c382c39efc12f7717f41</string>
</dict>
</plist>